DirectoryIndex index.php
Options -Indexes

RewriteEngine On
RewriteRule ^gis_console$ gis_console.php [QSA,L]
RewriteRule ^quick_stats$ quick_stats.php [QSA,L]
RewriteRule ^student_info$ student_info.php [QSA,L]

RewriteRule ^getAllData$ php/getAllData.php [QSA,L]
RewriteRule ^getPoints$ php/getPoints.php [QSA,L]
RewriteRule ^getGISPoints$ php/getGISPoints.php [QSA,L]
RewriteRule ^getStudentData$ php/getStudentData.php [QSA,L]
RewriteRule ^getAllDataSkin$ php/getAllDataSkin.php [QSA,L]
RewriteRule ^getAllDataEnt$ php/getAllDataEnt.php [QSA,L]
RewriteRule ^getAllDataEye$ php/getAllDataEye.php [QSA,L]