DirectoryIndex index.php
Options -Indexes

RewriteEngine On
RewriteRule ^student_info$ student_info.php [QSA,L]
RewriteRule ^stud_follow_up$ follow_up.php [QSA,L]

RewriteRule ^getAllData$ php/getAllData.php [QSA,L]
RewriteRule ^getPoints$ php/getPoints.php [QSA,L]
RewriteRule ^getStudentData$ php/getStudentData.php [QSA,L]
RewriteRule ^school_fill$ php/school_fill.php [QSA,L]